body {
    margin: 0;
    padding: 0;
    background: #css;
    background-color: #28262c;
}

.nav ul {
    list-style: none;
    background-color: #AEADF0;
    text-align: center;
    padding: 0;
    margin: 0 4px;
}

.nav li {
    font-family: 'Sniglet', 'Roboto';
    font-size: 0.8 em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
    margin: 0 4px;
}

.nav a {
    text-decoration: none;
    color: #28262c;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #9B4095;
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

@media screen and (min-width: 600px) {
    .nav li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        font-size: 1.2em;
    }

    /* Option 1 - Display Inline */
    .nav li {
        display: inline-block;
        margin-right: -4px;
    }

    /* options 2 - Float
    .nav ul {
        float:left;
}
    .nav ul {
        overflow: auto;
        width: 600px;
        margin: 0 auto;
        }
        .nav
            background-color: #444;
}
*/
}
