
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}
body {
    margin: 0;
    padding: 0;
    background: #css;
    background-color: #28262c;
}

.nav ul {
    list-style: none;
    background-color: #AEADF0;
    text-align: center;
    padding: 0;
    margin: 0 4px;
}

.nav li {
    font-family: 'Sniglet', 'Roboto';
    font-size: 0.8 em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
    margin: 0 4px;
}

.nav a {
    text-decoration: none;
    color: #28262c;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #9B4095;
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

@media screen and (min-width: 600px) {
    .nav li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        font-size: 1.2em;
    }

    /* Option 1 - Display Inline */
    .nav li {
        display: inline-block;
        margin-right: -4px;
    }

    /* options 2 - Float
    .nav ul {
        float:left;
}
    .nav ul {
        overflow: auto;
        width: 600px;
        margin: 0 auto;
        }
        .nav
            background-color: #444;
}
*/
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}

.container {
    float: left;
    
}
.photo {
    float:left;
}